// 
// Typography
// 
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat&display=swap');

$font-family-sans-serif: "Montserrat",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
"Montserrat",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

$font-family-serif: "Lora",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Lora",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-serif;

$btn-font-family: $font-family-sans-serif;
